# API
VITE_API_BASE_URL=http://localhost:3000/api

# Auth0
VITE_AUTH0_DOMAIN=replace-with-auth0-domain
VITE_AUTH0_CLIENT_ID=replace-with-auth0-application-client-id
VITE_AUTH0_AUDIENCE=https://replace-with-api-identifier/
